#buttonsDiv {
   margin-bottom: 6px;
   width: 512px;
   text-align: center;
}
.autogen {
   margin-left: 10px;
   width: 110px;
}
#inputA, #inputB, #inputC, #oper {
   width: 482px; 
}#inputA {
   border-color: red
}
#inputB {
   border-color: green
}
#inputC { 
   border-color: blue
}
#exprRes {
   width: 226px;

}